body {
	width: 900px;
	margin: 0 auto;
	padding: 0;
	background: #fff;
}

h2 {
	text-align: center;
}

.img {
	width: 20px;
	display: flex;
	align-items: center;
}

.information {
	align-content: center;
}

.about {
	alighn-content: center;
}
